---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 4 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portafolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCIA"} details={info.experience} />
      <Experience title={"EDUCACIÓN"} details={info.education} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">MIS PROYECTOS</h2>
        <ProjectsWrapper projects={featureProjects} />
        <a href="/projects" class="py-3 px-16 rounded-md border-2 border-blue gap-x-2.5 text-blue hover:bg-blue hover:text-white">Ver Todos</a>
      </section>
    </Layout>
  </body>
</html>
